<ion-header no-border>
  <ion-toolbar>
    <img
    src="/assets/slides/shapes.svg"
    class="avatar animated fadein"/>
  </ion-toolbar>
</ion-header>
<ion-content>

   <ion-slides class="slide-full" mode="ios" pager="ios" scrollbar="ios">
     <ion-slide *ngFor="let slide of slides">
      <ion-card mode="ios" >
        <img [src]="slide.img" class="slide-image"/>
        <ion-card-header>
          <ion-card-title>{{ slide.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{slide.desc}}
        </ion-card-content>

      </ion-card>
     </ion-slide>
     <ion-slide>
      <ion-button (click)="onClick()"
      color="primary"
      expand="full"
      fill=clear>
        Comenzar!
      </ion-button>
     </ion-slide>
   </ion-slides>

</ion-content>
